.localization-loader {
    border: 1px solid;
    width: 100%;
    height: 300px;
    position: relative;

    .localization-loader-spinner {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}